aws_region          = "ap-south-1"
project_name        = "Monitoring"
vpc_cidr            = "10.20.0.0/16"
public_subnet_cidrs = ["10.20.1.0/24", "10.20.2.0/24"]
availability_zones  = ["ap-south-1a", "ap-south-1b"]
instance_type       = "t3.micro"

key_name = "YOUR_KEY_PAIR_NAME"
repository_url = "YOUR_PUBLIC_GITHUB_REPO_URL"
webhook_secret_arn = "YOUR_WEBHOOK_SECRET_ARN"